# Build directory
build/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
* Alte # To ignore the executable named Alte

# Debug files
*.DS_Store
