[Desktop Entry]
Version=1.0
Name=Alte Text Editor
GenericName=Text Editor
Comment=Lightweight and Fast Text Editor
Exec=alte
Icon=alte_icon
Terminal=false
Type=Application
Categories=Utility;TextEditor;Development;
StartupWMClass=Alte # May need adjustment if QMainWindow's objectName or class name is set differently
